<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
    <title>Flisk</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Flisk</h1>
            <h1 class="title">Статистика для вашего сайта</h1>
            <p>Лучше google analytics</p>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Подключить себе на сайт</button>
            
            <!-- Modal -->
            <form action="create" method="POST">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Подключить себе на сайт</h5>
                            </div>
                            <div class="modal-body">
                                <input type="text" name="create" class="form-control" placeholder="URI">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Создать для этого сайта скрипт</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </header> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>