<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Flisk</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 style="margin-top: 100px;">Введи URI!</h1>
        </div>
    </header>
</body>
</html>